@font-face {
    font-family: 'inter-regular';
    src: url(./assets/fonts/static/Inter-Regular.ttf);
}

@font-face {
    font-family: 'inter-bold';
    src: url(./assets/fonts/static/Inter-Bold.ttf);
}

@font-face {
    font-family: 'inter-extra-bold';
    src: url(./assets/fonts/static/Inter-ExtraBold.ttf);
}

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'inter-regular', Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em 1em;
}

/*  Typography  */
h1 {
    font-size: 4rem;
    font-family: 'inter-bold';
    color: hsl(240, 100%, 5%);
    line-height: 1;
    margin-bottom: .5em;
}

h2 {
    font-size: 3.2rem;
    margin-top: .5em;
}

h2,
h3,
h4 {
    cursor: pointer;
}

h3 {
    font-size: 2rem;
    margin-bottom: .5em;
    margin-top: 1.3em;
}

h4 {
    font-size: 1.7rem;
    color: hsl(240, 100%, 5%);
}

h3+p {
    margin-top: .5em;
    margin-bottom: 2em;
}

p,
li,
a {
    font-size: 1.5rem;
}

p {
    line-height: 1.7;
    color: hsl(236, 13%, 42%);
}

img {
    max-inline-size: 100%;
}

button {
    cursor: pointer;
}

/*  navigation  */
header {
    display: flex;
    justify-content: space-between;
}

.dropdown {
    background-color: white;
    border: none;
    height: 100%;
    padding-top: 5px;
}

.main-navigation {
    position: absolute;
    width: 250px;
    right: -200px;
    height: 600px;
    display: flex;
    background-color: white;
    visibility: hidden;
    z-index: 2;
}

.main-navigation ul {
    list-style: none;
    padding-left: 0;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    bottom: 6em;
    right: 2em;
    height: 40%;
}

.main-navigation button {
    border: none;
    background-color: inherit;
    align-self: flex-start;
    position: relative;
    top: 2em;
    left: 14em;
}

.main-navigation li a {
    text-decoration: none;
    color: hsl(240, 100%, 5%);
    padding: 5px;
    font-size: 1.8rem;
}

main {
    margin-top: 20px;
}

.read-more {
    padding: 16px 32px;
    border: none;
    background-color: hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 10px;
    font-family: inherit;
    font-weight: bold;
}

.new-articles {
    background-color: hsl(240, 100%, 5%);
    color: white;
    padding: .5em 2em .01em 2em;
    margin-top: 50px;
    margin-bottom: 35px;
}

.new-articles h2 {
    color: hsl(35, 77%, 62%);
    margin-bottom: 1em;
}

.new-articles article p {
    color: hsl(233, 8%, 79%);
}

.new-articles article {
    color: hsl(36, 100%, 99%);
}

.border-bottom {
    border-bottom: 1px solid rgba(211, 203, 203, 0.404);
}

.top-three {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 5px 5px 5px 0px;
    margin-bottom: 10px
}

.top-three div h2 {
    margin: 0;
    color: hsl(233, 8%, 79%);
    font-weight: 700;
}

.top-three div h4 {
    margin: 12px 0 5px 0;
}

.top-three div p {
    margin-bottom: 0;
    margin-top: 8px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    font-size: 1rem;
}

.read-more:hover {
    background-color: hsl(240, 100%, 5%);
}

h3:hover {
    color: hsl(35, 77%, 62%);
}

h4:hover,
.main-navigation li a:hover {
    color: hsl(5, 85%, 63%);
}


header:focus-within .main-navigation {
    right: 0;
    top: 0;
    visibility: visible;
}

header:focus-within+main {
    opacity: .4;
}

/*  Media Queries  */
@media screen and (min-width: 1000px) {

    /* layout */
    body {
        padding: 8em 15em;
    }

    .logo {
        height: 35px;
        width: 60px;
    }

    h1 {
        padding-right: 1em;
        margin: 0;
    }

    main {
        display: grid;
        grid-template-areas:
            "picture picture new"
            "heading info new"
            "one two three";
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2.5em;
    }

    .main-image {
        grid-area: picture;
    }

    .featured-heading {
        grid-area: heading;
        font-size: 5rem;
        margin-top: 5px;
    }

    .featured-info {
        grid-area: info;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 1.2em;
    }

    .featured-info p {
        margin-top: 0;
        margin-bottom: 1em;
    }

    .read-more {
        width: 55%;
        font-size: 1.4rem;
    }

    .new-articles {
        grid-area: new;
        margin: 0;
    }

    .new-articles h2 {
        margin-bottom: .5em;
    }

    .new-articles article:last-child p {
        margin-bottom: 1em;
    }

    .one {
        grid-area: one;
    }

    .two {
        grid-area: two;
    }

    .three {
        grid-area: three;
    }

    .top-three {
        padding-top: 3em;
    }

    /* navigation */

    .main-navigation {
        position: static;
        height: max-content;
        width: 100%;
        visibility: visible;
        flex-direction: row-reverse;
    }

    .main-navigation ul {
        flex-direction: row;
        justify-content: space-between;
        position: static;
        height: auto;
        width: 45%;
    }

    .main-navigation li a {
        font-size: 1.5rem;
    }

    .dropdown,
    .main-navigation button {
        display: none;
    }

}